<% layout('layouts/boilerplate') %>
<div id="cluster-map" class="rounded"></div>

<h1>Available Campgrounds</h1>
<a href="/campgrounds/new" class="btn btn-dark mb-3">Add a new campground</a>
<div>
  <% for (const camp of campgrounds){ %>
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-4">
        <img
          crossorigin="anonymous"
          src="<%= camp.images.length>0? camp?.images[0].url : 'https://media.istockphoto.com/id/827243792/vector/adventure-camping-night-scene.jpg?s=612x612&w=0&k=20&c=cn67Ze-Oc-895KLVk78XYcHnJUE_p5eWh7JsW8AuW-E=' %>"
          class="card-img-top"
          alt="Campground"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= camp.title %></h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            <%= camp.location %>
          </h6>
          <p class="card-text"><%= camp.description %></p>
          <p class="card-text">
            <small class="text-body-secondary"><%= camp.price %>$</small>
          </p>
          <a href="/campgrounds/<%= camp._id %>" class="btn btn-primary"
            >View <%= camp.title %></a
          >
        </div>
      </div>
    </div>
  </div>
  <% } %>
</div>

<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
  const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
</script>

<script src="/js/clusterMap.js"></script>
